body {
	margin: 0px auto;
    width: 800px;
}

#kkv {
    float: left;
    width: 380px;
}

#infos {
    float: right;
    width: 380px;
}

h3 {
    text-align: center;
}

#form_content {
    clear: both;
    padding-top: 20px;
}

#form {
    clear: both;
    padding-top: 20px;
    margin-left: 100px;
    width: 400px;
}

#form label {
    display: block;
    width: 100px;
    float: left;
    margin: 5px;
    margin-left: 50px;
}

#form input {
    margin: 5px;
    margin-left: 20px;
}

#radios {
    float: left;
}

#footer {
    clear: both;
}

#form #submit {
    margin-left: 250px;
}


